* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-status {
  border-bottom: 1px slategrey solid;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-status h3{
  color: gray;
}

.container {
  margin: 0 auto;
  width: 330px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  display: block;
}


.board {
  width: 300px;
  height: 300px;
  background: cadetblue;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  font-family: "Comic Sans MS", sans-serif;
  color: whitesmoke;
  font-weight: bold;
  font-size: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px slategray solid;
}

.reset {
  margin-top: 10px;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 40px;
  background-color: slategray;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
.reset:hover {
  color: black;
}

.winner {
  color: red ;
}